{% extends 'base.html.twig' %}

{% block title %}Contact - Thank you{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>Thank you!</h1>
            <p>Your message has been sent successfully.</p>
            <p><a class="btn btn-primary btn-lg" href="{{ path('index') }}" role="button">Go back home</a></p>
        </div>
    </div>
{% endblock %}
